@use 'bootstrap';

a{
    text-decoration: none;
}
img{
    height: 100%;
}
.comic-box{
    height: 200px;
}

td.description-table{
    line-height:1rem;
    overflow: auto;
   
}

td button{
    width: 100px;
}